*,
*:before,
*:after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 400 10px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1;
}
p {
  font-size: 1.3em;
  line-height: 1.5;
}
i {
  font-style: italic;
}
ul {
  list-style-type: disc;
}
li {
  display: list-item;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
*::-webkit-input-placeholder {
  opacity: 1;
}
*:-moz-placeholder {
  opacity: 1;
}
*::-moz-placeholder {
  opacity: 1;
}
*:-ms-input-placeholder {
  opacity: 1;
}
#wrap-body {
  padding: 20px 0 20px;
  position: relative;
  /*background: url("../assets/background.png") no-repeat;*/
}
.responsive-menu:before {
  display: none !important;
}
.dropdown-container {
  position: relative;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 1.2em;
  z-index: 2;
  padding: 0;
  margin-right: -500px;
}
.dropdown a {
  padding: 7.5px 20px;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
}
.dropdown .pointer {
  display: none;
}
.dropdown .dropdown-contents {
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px 0;
  position: relative;
  min-width: 40px;
  max-height: 300px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropdown li {
  float: none !important;
  line-height: 27px !important;
  font-size: 1em !important;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-align: left;
}
.dropdown-contents > li > a {
  padding-right: 30px;
}
.dropdown li:first-child,
.dropdown li.separator + li,
.dropdown li li {
  border-top: 0;
}
.dropdown li li:first-child {
  margin-top: 4px;
}
.dropdown li li:last-child {
  padding-bottom: 0;
}
.dropdown li li {
  padding-left: 18px;
}
.dropdown li.separator {
  border-top: 1px solid transparent;
  margin: 5px 20px;
  padding: 0;
}
.dropdown li.separator:first-child {
  display: none !important;
}

.phpbb_alert {
  display: none;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 50;
  width: 560px;
  margin: 0 auto;
  border-radius: 3px;
}
.phpbb_alert h3 {
  margin-bottom: 20px;
}
.phpbb_alert .alert_close {
  float: right;
}
.phpbb_alert .alert_close:after {
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: -20px;
  margin-top: -20px;
  text-align: center;
  overflow: hidden;
  text-decoration: none !important;
  content: "\f00d";
  display: block;
  font-family: FontAwesome;
  font-size: 14px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-radius: 0 3px 0 3px;
}
.phpbb_alert .alert_close:hover {
  background-position: 0 -16px;
}
.phpbb_alert p {
  margin: 8px 0;
  padding-bottom: 8px;
}
#darkenwrapper {
  display: none;
  position: relative;
  z-index: 44;
}
#darken {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 45;
}

#top {
  position: absolute;
  top: -20px;
}
.hidden {
  display: none;
}
a {
  direction: ltr;
  unicode-bidi: embed;
  text-decoration: none;
  transition: color 0.15s ease;
}
a:hover {
  text-decoration: none;
}

li.breadcrumbs span:first-child > a {
  display: inline-block;
}

.skiplink {
  position: absolute;
  left: -999px;
  width: 990px;
}
a.anchor {
  display: block;
}

fieldset {
  border-width: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
input {
  font-weight: normal;
  vertical-align: middle;
  font-size: 1.2em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

fieldset input {
  font-size: 0.9231em;
}
fieldset.submit-buttons {
  text-align: center;
  vertical-align: middle;
}
fieldset.submit-buttons input {
  vertical-align: middle;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
/* Form button styles
---------------------------------------- */
.button2 {
  border-radius: 3px;
  transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
}
.button2 + .button2 {
  margin-left: 20px;
}
input.button2 {
  font-size: 1em;
}
input.button2 {
  width: auto !important;
  height: 35px;
  padding: 0 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
input[type="button"] {
  cursor: pointer;
}
input.button2 {
  border: 1px solid transparent;
}

input.button2:hover {
  border: 1px solid transparent;
  background-position: 0 100%;
}
input.button2:focus {
  outline-style: none;
}

.small-icon {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: none;
}
.small-icon > a {
  display: inline-block;
  padding: 0 0 0 18px;
}
.font-icon > a > i {
  margin-right: 7.5px;
  font-size: 13px;
  transition: color 0.15s ease;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.site-logo {
  /*background-image: url("./assets/logo.svg"); если есть картинка - используйте*/
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  height: 26px;
  width: 76px;
}
.chunk {
  clear: both;
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 20px;
}
.chunk:after {
  clear: both;
  content: "";
  display: block;
}
.grid-4 {
  padding: 0 10px;
}
.grid-4:first-child {
  padding: 0 10px 0 0;
}
.grid-4:last-child {
  padding: 0 0 0 10px;
}
.grid-4 {
  float: left;
  width: 25%;
}
#site-nav {
  font-size: 1.2em;
  min-height: 45px;
  line-height: 45px;
}
.site-nav {
  list-style: none;
  padding: 5px;
}
.site-nav::after {
  clear: both;
  content: "";
  display: block;
}
.site-nav > ul > li {
  display: block;
  float: left;
}
.site-nav > ul > li.rightside {
  float: right;
}
.site-nav > ul > li > a {
  padding: 0 20px;
  display: inline-block;
  transition: background-color 0.15s ease;
}
.site-nav > ul > .font-icon > a > i {
  margin: 0;
}
.site-nav > ul > .font-icon > a > i + span {
  margin-left: 7.5px;
}
.font-icon > a > i.fa-bars {
  font-size: 14px;
}
#site-header,
#site-logo {
  min-height: 100px;
}
#site-header {
  font-size: 1.3em;
  line-height: 100px;
}
#site-logo {
  float: left;
  line-height: 96px;
  margin: 0 30px 0 0;
}
.site-logo {
  display: inline-block;
  vertical-align: middle;
}
#site-menu {
  float: left;
  list-style: none;
}
.dropdown-contents > .site-menu {
  display: none;
}
#site-menu > li {
  display: block;
  float: left;
  margin: 0;
  position: relative;
}
#site-menu > li > a {
  display: inline-block;
  line-height: 100px;
  padding: 0 20px;
  transition: background-color 0.15s ease;
}
#site-menu > li:hover > ul {
  left: 0;
}
#site-menu > li > ul {
  border-radius: 3px;
  top: 90px;
  left: -999px;
  display: block;
  position: absolute;
  background: #FFF;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  max-height: 300px;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  z-index: 2;
}
#site-menu > li > ul > li {
  float: none !important;
  font-size: 12px !important;
  line-height: 27px !important;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
}
#site-menu > li > ul > li > a {
  display: inline-block;
  line-height: 1.5;
  padding: 7.5px 20px;
  transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
  width: 100%;
  color: #3C3C3C;
}
#site-menu > li > ul > li > a:hover {
  background-color: #F5F5F5;
}
#site-search {
  display: block;
  float: left;
  margin: 0;
  position: relative;
}

#site-search:hover {
  animation: none;
}
#site-search fieldset {
  font-size: 1em;
}
#site-search input,
#site-search button {
  transition: background-color 0.15s ease;
}
#site-search input {
  float: left;
}
#site-search button {
  float: right;
}
#site-search input {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  height: 45px;
  padding: 0 0 0 20px;
  width: 260px;
}
#site-search button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0833em;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}
#site-search button i {
  line-height: 40px;
}
#wrap-subhead-main .chunk {
  position: relative;
}
#wrap-subhead-main {
  border: none;
  padding: 0 0 20px;
}
.wrap-subhead-main:after {
  clear: both;
  content: "";
  display: block;
}
.wrap-subhead-main a {
  transition: background-color 0.15s ease;
}
#breadcrumbs-main {
  list-style: none;
  font-size: 1.2em;
}
#breadcrumbs-main > li > a,
#breadcrumbs-main > li > span > a {
  line-height: 40px;
  padding: 0 20px;
}
#breadcrumbs-main .responsive-menu {
  float: left;
}
#breadcrumbs-main .responsive-menu > a {
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
}
#breadcrumbs-main .responsive-menu > a i {
  margin: 0;
}
#breadcrumbs-main .responsive-menu .dropdown {
  top: 33px;
}
.breadcrumbs .crumb {
  float: left;
  word-wrap: normal;
  position: relative;
}
.breadcrumbs .crumb:before {
  content: "\f105";
  padding: 0;
  left: -2px;
  font-size: 14px;
  line-height: 40px;
  cursor: default;
  position: absolute;
  font-family: FontAwesome;
}
.breadcrumbs .crumb:first-child:before {
  content: none;
}
.breadcrumbs .crumb a {
  display: inline-block;
}
.breadcrumbs i {
  display: none;
}
#site-footer-area {
  padding: 40px 0;
}
#site-footer-area h5 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 0 0 40px;
}
#site-footer-area p,
#site-footer-area ul {
  font-size: 1.1em;
  margin: 0 0 20px;
  line-height: 1.5;
}
#site-footer-area ul {
  list-style: none;
}
#site-footer-area {
  padding: 80px 0 60px;
  border-top-style: solid;
  border-top-width: 1px;
}
.cfooter-social a {
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  float: left;
  height: 30px;
  line-height: 29px;
  margin: 0 5px 5px 0;
  text-align: center;
  transition: color 0.15s ease, background-color 0.15s ease;
  width: 30px;
  border-radius: 100%;
}
.cfooter-contact li {
  color: #848c97;
}
.cfooter-contact li {
  clear: both;
  display: inline-block;
  float: left;
  line-height: 1.5;
  margin-bottom: 10px;
  transition: color 0.15s ease 0s;
}
.cfooter-contact li i {
  color: #848c97;
}
.cfooter-contact li i {
  font-size: 14px;
  margin-right: 5px;
  min-width: 25px;
  text-align: center;
  transition: color 0.15s ease 0s;
}
.cfooter-contact li:hover {
  color: #eaecf0;
}
.cfooter-contact li:hover i {
  color: #25b695;
}
#site-footer-nav {
  font-size: 1.2em;
  min-height: 60px;
  line-height: 2;
  padding: 18px 0;
}
.site-footer-nav {
  list-style: none;
}
.site-footer-nav > li {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}
.site-footer-nav > li.rightside {
  float: right;
  margin: 0 0 0 20px;
}
#site-footer {
  font-size: 1em;
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 600px) {
  .chunk {
    padding: 0 10px;
  }
  .grid-4 {
    width: 100%;
  }
  .grid-4,
  .grid-4:first-child,
  .grid-4:last-child {
    padding: 0;
  }
  #site-logo {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  #site-menu {
    display: none;
  }
  #site-search {
    margin: 0 0 5px;
    padding: 0 40px 0 0;
    width: 100%;
  }
  #site-search input {
    width: 100%;
  }
  #site-search button {
    position: absolute;
    right: 0;
    top: 0;
  }
  .phpbb_alert {
    top: 0;
    width: 100%;
  }
  .site-nav > ul > .font-icon > a > i + span {
    display: none;
  }
  .nav-rh-2 {
    display: none;
  }
  .breadcrumbs .crumb:first-child i {
    display: inline;
    font-size: 14px;
  }
  .breadcrumbs .crumb:first-child a span {
    display: none;
  }
  .dropdown-contents > .site-menu {
    display: list-item;
  }
}

.content {
  clear: both;
  margin-bottom: 20px;

  background: url("../assets/background.png") no-repeat;
  background-size: 100%;
}
.content > h1 {
  font-size: 2.9em;
  padding: 17px 20px;
  margin: 0;
  background-color: #25b695;
  color:white;
}
.content > h2 {
  font-size: 2.3em;
  padding: 12px 20px;
  margin: 0;
  background-color: #323a45;
  color:white;
}
.content > p {
  font-size: 1.5em;
  padding: 20px;
  margin: 0;
}

.pulse {
  -webkit-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(37, 182, 149, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(37, 182, 149, 0.4);
    box-shadow: 0 0 0 0 rgba(37, 182, 149, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.card{
  margin-left: 5%;
  left:5%;
  margin-top: 5%;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxr__9RdzR4cXkA_-8GOnQEOZlPx47QtKk94Yr-hU_RRlWKoq-") no-repeat;
 background-size: 100%;
/*border: 3px solid #1f967b;*/
/*  border-radius: 3px;*/
  width: 30vw;
  height:22vw;
display: inline-block;
  position: relative;
}
.card-go{
  border-radius: 0px;

  background-color: #4e606c;
  color: #25b695;
  position: relative;
  display: inline-block;
  left:23vw;
  top:12vw;
  width:20%;
  height:10%;
  font-size: 2em;
  text-align: center;
  border-radius: 1px;
  z-index: 10;
}
.card-preview{
  top:15vw;
  width: 100%;
  z-index: 9;
  height:30.5%;
  display: inline-block;
  position: relative;
  background-color: #c1c1c1;
  font-size: 1.5em;
   text-align: center;
}
.card-title{
  top:11.5vw;
  height:0;
  width: 100%;
  left:0;
  text-align: center;
  z-index: 10;
  display: inline-block;
  position: relative;
  color: #4e606c;
  font-size: 3em;
}
#login{
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: #323a45;
  width: 35vw;
  height: 35vw;
  display: block;
  z-index: 30;
  visibility: hidden;
}
#login-logo{
  left:50%;
  display: block;
  position: relative;
  transform: translate(-50%);
  background: url("../img/logo.png") no-repeat;
  background-size: 100%;
  border-radius: 50%;
width: 25vh;
  height: 25vh;
  visibility: inherit;
}
#login-close{
left:100%;
  transform: translate(-100%);
  top:0;
width: 10%;
  text-align: center;
  font-size: 300%;
  color: #ff8880;
  background-color: #161e29;
border-radius: 10px;
  display: block;
  position: relative;
  visibility: inherit;
}
.login-input{
  display: block;
  position: relative;
  left:50%;
  transform: translate(-50%);
  background-color: #161e29;
  color: #eaecf0;
  border: 0;
  box-sizing: border-box;
visibility: inherit;
  font-size: 1em;
  height: 45px;
  padding: 0 0 0 20px;
  width: 260px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font: 400 13.3333px Arial;
  margin-top:2vh;
}

#login-submit{
  text-align: center;
  display: block;
  position: relative;
  left:50%;
  transform: translate(-50%);
  background-color: #161e29;
  color: #eaecf0;
  height: 45px;
  width: 260px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top:2vh;
  font: 400 13.3333px Arial;
  visibility: inherit;
}
