
.site-nav {
  background-color: #323a45;
}
.site-nav > ul > li,
.site-nav > ul > li > a {
  color: #DDD;
}
.site-nav > ul > li > a:hover {
  background-color: #25b695;
}
.site-nav .font-icon > a > i {
  color: #E1E1E1;
}
#site-header {
  background-color: transparent;
}
#site-menu > li > a {
  color: #4C4C4C;
}
#site-menu > li > a:hover {
  background-color: #DFE1E5;
}
#site-search input,
#site-search button {
  background-color: #161e29;
  color: #eaecf0;
}
#site-search input:hover,
#site-search input:focus,
#site-search input:hover + button + button,
#site-search input:focus + button + button,
#site-search button:hover {
  background-color: #25b695;
}
.wrap-subhead-main {
  background-color: #DDDFE3;
}
.wrap-subhead-main a {
  color: #323a45;
}
.wrap-subhead-main a:hover {
  background-color: #D5D7DB;
}
.breadcrumbs .crumb:before {
  color: #323a45;
}
#site-footer-nav {
  background-color: #323A45;
}
#site-footer {
  background-color: #161E29;
}
#site-footer-area {
  background-color: #323A45;
  border-color: #161E29;
}
#site-footer-area,
#site-footer-area a {
  color: #848c97;
}
#site-footer-area h5 {
  color: #25b695;
}
#site-footer-area p,
#site-footer-area a {
  color: #848c97;
}
.cfooter-social a {
  background-color: #161E29;
}
.cfooter-social a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #BEBEBE !important;
}
.cfooter-contact li:hover i {
  color: #25b695;
}
#site-footer-nav,
#site-footer-nav a {
  color: #DCDCDC;
}
#site-footer,
#site-footer a {
  color: #eaecf0;
}

body {
  color: #323a45;
  background-color: #eaecf0;
}
h3 {
  color: #1f967b;
}

a {
  color: #1f967b;
}
a:hover {
  color: #323a45;
}
.notice:not(:hover) > .username-coloured,
.notice:not(:hover) > .username {
  color: #afb6c6 !important;
}
input.button2 {
  background-color: #DDDFE3;
  border-color: #DDDFE3;
  color: #4C4C4C;
}
input.button2:hover {
  background-color: #D5D7DB;
  border-color: #D5D7DB;
  color: #4C4C4C;
}
input.button2:focus {
  background-color: #D5D7DB;
  border-color: #D5D7DB;
  color: #4C4C4C;
}
/* Уведомления на Ajax */
.phpbb_alert {
  background-color: #eaecf0;
}
.phpbb_alert .alert_close:after {
  background-color: rgba(0, 0, 0, 0.025);
  border-color: #D5D5D5;
  color: #323a45;
}
#darken {
  background-color: #323a45;
}
.dropdown a,
.dropdown .font-icon > a > i {
  color: #323a45;
}
.dropdown a:hover,
.dropdown .font-icon > a:hover > i {
  color: #323a45;
}
.dropdown a:hover {
  background-color: #F5F5F5;
}
.dropdown .pointer {
  border-color: #4575B4 transparent;
}
.dropdown .pointer-inner {
  border-color: #4575B4 transparent;
}
.dropdown .dropdown-contents {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.dropdown li,
.dropdown li li {
  border-color: #DCDCDC;
  color: #323a45;
}
.dropdown li.separator {
  border-color: rgba(0, 0, 0, 0.05);
}

.content
.stat-block {
  background-color: #323a45;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}
.stat-block > h1,
.stat-block > h1 > a {
  color: #ffffff;
}
.stat-block > h1 > a:hover {
  color: #d4d8e0;
}
.stat-block > p {
  background-color: #FAFAFA;
}
.content {
  background-color: #F5F5F5;
  border-top-color: #EBEBEB;
}