
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
}

pre {
  font-family: open-sans, Arial, sans-serif;
  background-color: #71D4B7;
  font-size: 62.5%;
}
pre label {
  background-color: white;
  color: #000;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 4px 3px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
pre label:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
pre label:hover ~ h1 {
  display: block;
}
pre input {
  display: none;
}
pre input:checked ~ h1 {
  display: block;
}
pre input:checked ~ label {
  background-color: rgba(255, 255, 255, 0.75);
}
pre h1 {
  display: none;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  left: 55px;
  top: 10px;
  box-shadow: 4px 3px 0px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
pre h1:hover {
  display: block;
}
pre h1 a, pre h1 a:visited, pre h1 a:hover {
  color: #000;
}

.code-editor.fullscreen {
  width: calc(100% - 40px);
  position: fixed;
  height: calc(100% - 120px);
  margin: 20px;
}
.code-editor .controls {
  background-color: #E8ECEF;
  font-size: 10px;
  font-size: 1rem;
  display: block;
  padding: 15px;
  text-align: right;
  -webkit-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.code-editor .controls i {
  color: #BAC1C9;
  cursor: pointer;
  margin-left: 15px;
}
.code-editor .controls i:hover {
  color: #818e9c;
}
.code-editor .embed-nav {
  background-color: #384a56;
  padding: 15px;
}
.code-editor .embed-nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.code-editor .embed-nav ul li {
  margin-right: 10px;
}
.code-editor .embed-nav ul li a {
  font-size: 8px;
  font-size: 0.8rem;
  color: #BAC1C9;
  padding: 5px 10px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
}
.code-editor .embed-nav ul li a.active {
  background-color: #233038;
}
.code-editor .embed-nav .logo-wrap {
  display: none;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 0 15px 15px 15px;
  overflow: auto;
  font-size: 10px;
  font-size: 1rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #4e606c;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9cacb7;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.function {
  color: #F5755A;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: #71D4B7;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: #FC659A;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #EFB26E;
}

.token.atrule,
.token.attr-value {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}

.token.inserted {
  color: green;
}

p>code {
  color:white;
  background-color: #2f3136;
  width: auto;
  height: auto;
  padding: .2em;
  margin: -.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: SourceCodePro,Consolas,Liberation Mono,Menlo,Courier,monospace;
  text-indent: 0;
  border: none;
}
p>code:hover {
  background-color: #66d9ef;
}