<html lang="en-ru"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin panel</title>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese" rel="stylesheet" type="text/css" media="screen, projection">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/other.css">
  <link rel="stylesheet" type="text/css" href="/css/pre.css">
  <script src="/js/index.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/js/code-formate.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src='https://use.edgefonts.net/open-sans:n4,i4,n7.js'></script>
</head>
<body id="phpbb" class="notouch section-index ltr variant-1 hasjs">
  <div id="overall-wrap">
    <a id="top" class="anchor" accesskey="t"></a>
    <div id="wrap-head">
      <div id="site-header">
        <div class="chunk">
          <div id="site-logo">
            <a class="site-logo" href="#" title="L.CO.UA">LCOUA</a>
          </div>
          <ul id="site-menu">
            <li data-skip-responsive="true" class="site-menu"><a href="#faq" rel="help" title="Frequently Asked Questions">FAQ</a></li>
            <li class="site-menu">
              <a href="#" title="Project partners">Партнеры</a>
              <ul>
                <li><a href="https://discord.gg/zWvuuuX">Minigames bot</a></li>
                <li><a href="https://aspire-world.pw">Aspire world</a></li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div id="site-nav" role="navigation">
        <div class="chunk">

          <div class="site-nav">

            <div class="pulse" id="site-search" role="search">
              <form action="/search/" method="get">
                <fieldset>
                  <input name="keywords" type="search" maxlength="128" title="Search for keywords" size="20" value="" placeholder="Search"><button title="Disable pulse"><i class="fa fa-power-off" onclick="disable()"></i></button><button type="submit" title="Search"><i class="fa fa-search"></i></button>
                </fieldset>
              </form>
            </div>

            <ul role="menubar">
              <li class="font-icon rightside" data-skip-responsive="true"><a href="/p/new" title="Login" accesskey="x" role="menuitem"><i class="fa fa-power-off"></i><span class="nav-rh-2">New post</span></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <a id="content" class="anchor"></a>


    <div id="wrap-subhead-main">
      <div class="chunk">
      </div>
    </div>
    <div id="wrap-body">
      <div class="chunk">
        <div class="content">
          <h1>Новый пост</h1>
          <pre class="code-editor" id="editor"><%= pContent %></pre>
          <input type="text" onkeydown="this.style.width = ((this.value.length + 1) * 7.5) + 'px';" placeholder="Post url" id="url" class="option-input" <%- pUrl %> >
          <input type="text" onkeydown="this.style.width = ((this.value.length + 1) * 7.5) + 'px';" placeholder="Post img" id="img" class="option-input" <%- pImg %> >
          <input type="text" onkeydown="this.style.width = ((this.value.length + 1) * 7.5) + 'px';" placeholder="Post title" id="title" class="option-input" <%- pTitle %> >
          <input type="button" value="Send post" id="send" class="send-button" >

    </div>
    </div>
  </div>



  <div id="wrap-footer">
    <div id="site-footer-nav" role="navigation">
      <div class="chunk">
        <ul class="site-footer-nav" role="menubar">
          <!-- Меню кнопок -->
        </ul>
      </div>
    </div>
    <div id="site-footer-area">
      <div class="chunk">
        <div class="grid-4">
          <!--Гриды, сюда можно пихать содержимое футера, не более 4 гридов-->
  </div>
      </div>

    </div>
    <div id="site-footer">
      <div class="chunk">
        <copyright>2019 Copyright © LCOUA</copyright>
      </div>
    </div>
  </div>
</div>
<script src="/ace-builds/src-min-noconflict/ace.js" charset="utf-8"></script>
<script src="/js/icework.js" charset="utf-8"></script>
<script>  IW.Init(document.body)</script>
<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/twilight");
editor.session.setMode("ace/mode/markdown");

q("#send").addEventListener("click",async ()=>{

  let postresp=await fetch("/newpost",{
    method:"POST",
    body:JSON.stringify({
      "title":q("#title").value,
      "url":q("#url").value,
      "img":q("#img").value,
      "content":editor.getValue(),
      "key":window.localStorage.getItem("key")
    }),
    headers:{
      "Content-Type":"application/json"
    }
  })
  if(!postresp.ok){return alert("Incorrect data!")}
    window.location.href=await postresp.text()
})

</script>

</body></html>
